@use "../global" as *;

.l-bgtop {
  position: absolute;
  width: 100%;
  height: 1050px;
  background-image: linear-gradient(#FFEB6D 50%, #FFF);
  &--img {
    width: 100%;
    height: 100%;
    background-image: url(../img/bgimg.png);
    background-repeat: repeat;
  }
}

