@use "../global" as *;

.l-background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $palette-white;

  .parts {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    transition: transform .5s;
    &.parts1{
      background-image: url(../img/parts_1H.png);
      top: 20px;
      left: calc(50% - 300px);
      transform: rotate(45deg);
    }
    &.parts2{
      background-image: url(../img/parts_2A.png);
      top: 50px;
      left: calc(50% + 100px);
      transform: rotate(330deg);
    }
    &.parts3{
      background-image: url(../img/parts_3R.png);
    }
    &.parts4{
      background-image: url(../img/parts_4I.png);
    }
    &.parts5{
      background-image: url(../img/parts_5M.png);
    }
    &.parts6{
      background-image: url(../img/parts_6A.png);
    }
    &.parts7{
      background-image: url(../img/parts_7T.png);
    }
    &.parts8{
      background-image: url(../img/parts_8C.png);
      width: 300px;
      height: 300px;
      bottom: calc(0% - 50px);
      left: calc(50% + 100px);
      transform: rotate(50deg);
    }
    &.parts9{
      background-image: url(../img/parts_9H.png);
      width: 500px;
      height: 500px;
      bottom: calc(0% + 200px);
      left: calc(50% + 400px);
      transform: rotate(50deg);
    }
  }
}

