@charset "utf-8";
@use "../global" as *;

/* レイアウトのためのCSS */

body {
  overflow-x: hidden;
/*  background: #fccf00;*/
  font-family: 'Kosugi Maru', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  letter-spacing: 0.2em;
  background-color: $palette-yellow;
  &.appear {
    background: #f0f0f0;
  }
}

main {
  background-color: $palette-white;
  max-width: 1480px;
  margin: auto;
}
a {
  color: #333;
  text-decoration: none;
  outline: none;
}

section {
  margin: 120px 0 0;
  position: relative;
  .paging {
    div {
      position: absolute;
      background-color: #fff;
      z-index: 10;
/*      top: calc(50% - 20px);*/
      top: 400px;
      width: 40px;
      height: 60px;
      cursor: pointer;
      background-size: 16px;
      background-repeat: no-repeat;
    }
    .left {
      left: 0;
      border-radius: 0 30px 30px 0;
      background-image: url(../img/arrow_left.png);
      background-position: top 50% left 8px;
    }
    .right {
      right: 0;
      border-radius: 30px 0 0 30px;
      background-image: url(../img/arrow_right.png);
      background-position: top 50% right 8px;
    }
  }
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $palette-white;
    text-align: center;
    font-family: sans-serif;
  }
  &:first-child{
    margin-top: 0;
  }
}

footer {
  background-color: $palette-blue;
  position: absolute;
  width: 100%;
  .contents {
    margin: auto;
    padding: 20px 40px;
    width: 100%;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    .logo {
      img {
        width: 200px;
        vertical-align: top;
      }
    }
    .company {
      color: $palette-white;
      font-size: 14px;
      font-family: sans-serif;
    }
    @include mq(sp) {
      display: block;
      padding: 20px;
      .company {
        margin-top: 20px;
      }
    }
  }
}
.sp {
  display: none !important;
  @include mq(sp) {
    display: block !important;
  }
}