@use "../global" as *;

/* 関数化 */
@mixin svg-link($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32px 24px"><path fill="%23#{$color}" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" /><path fill="%23#{$color}" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" /></svg>');
}

.l-modal {
  display: none;
  &__company {
    display: none;
    max-width: 1024px;
    margin: auto;
    &--flex{
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
      .company {
        width: calc(50% - 20px);
      }
      @include mq(sp) {
        display: block;
        .company {
          width: auto;
        }
      }
    }
  }
}
.modaal-content-container {
  h2 {
    text-align: center;
    margin: 20px 0 0;
  }
  h3 {
    text-align: center;
    margin: 0 0 0;
  }
  h4 {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
    span {
      font-size: 24px;
      display: block;
      @include mq(sp) {
        font-size: 18px;
      }    
    }
  }
  p {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 1.2rem;
  }
  .caption {
    display: block;
    padding: 0 0 10px 0;
  }
  .submit-btn {
    width: 240px;
    margin: 0 auto;
  }
  .close-btn {
    width: 240px;
    margin: 0 auto;
  }
  .cancel-btn {
    width: 240px;
    margin: 0 auto;
  }
  .submit-btn input[type=button], .submit-btn input[type=submit] {
    background: #FBD101;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    width: 240px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .close-btn input[type=button], .close-btn input[type=submit] {
    background: #818181;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    width: 240px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .cancel-btn input[type=button], .cancel-btn input[type=submit] {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    width: 240px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .login-btn input[type=button], .login-btn input[type=submit] {
    background: #539ff5;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    width: 240px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .register-btn input[type=button], .register-btn input[type=submit] {
    background: #16be82;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    width: 240px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include mq(sp) {
      display: block;
      text-align: center;
      div:first-child{
        margin-bottom: 20px;
      }
    }
  }
  a {
    span {
      position: relative;
      &::after{
        content: "";
        @include svg-link("fff");
        position: absolute;
        bottom: 6px;
        right: -22px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  img {
    border: 5px solid #fff;
    width: 100%;
    max-width: 700px;
    height: auto;
    vertical-align: bottom;
  }
}
.modaal-overlay {
  background: #000 !important;
  opacity: .6 !important;
}

.modaal-fullscreen .modaal-container {
  background: none !important;
}
.modaal-fullscreen .modaal-content-container {
  background: none !important;
  color: #fff;
  text-align: center;
  font-size: 16px;
  a {
    color: #fff;
  }
}
.modaal-fullscreen .modaal-close {
  background: none !important;
  right: 20px !important;
}
