@use "../global" as *;

.l-seminar {
  position: relative;
  h2 {
    color: $palette-darkgray;
  }
  &__background {
    z-index: -1;
    position: absolute;
    background-color: $palette-white;
    border-radius: 160px 0 0 0;
    opacity: .9;
    width: 100%;
    height: 100%;
  }
  &__body {
    padding: 80px 0;
  }
  &__contents {
    padding: 0 20px;
    display: none;
    &.active {
      display: block;
    }
    &--image {
      width: 200px;
      height: 200px;
      margin: auto;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    &--date {
      margin: auto;
      border: 2px solid;
      width: 340px;
      background-color: $palette-red;
      border-radius: 20px;
      font-size: 14px;
      text-align: center;
      margin: 10px auto 20px;
      font-weight: bold;
      padding: 2px;
      color: $palette-white;
    }
    &.seminar1 .l-seminar__contents--date, &.seminar2 .l-seminar__contents--date{
      border-color: $palette-red;
      background-color: $palette-red;
    }
    &.seminar3 .l-seminar__contents--date, &.seminar4 .l-seminar__contents--date{
      border-color: $palette-green;
      background-color: $palette-green;
    }
    &.seminar5 .l-seminar__contents--date, &.seminar6 .l-seminar__contents--date{
      border-color: $palette-purple;
      background-color: $palette-purple;
    }
    &--title {
      font-size: 14px;
      text-align: center;
      padding: 20px 10px;
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }
    &--text {
      background-color: $palette-white;
      border-radius: 8px;
      padding: 10px 20px;
      font-size: 14px;
      border: solid 1px $palette-gray;
    }
  }
  &__memo {
    padding: 0 20px;
    display:flex;
    justify-content: flex-end;
    &--text {
      font-size: 12px;
      margin-top: 20px;
      text-align: left;
      position: relative;
      display: inline-block;
      &::before {
        content: "※";
        position: absolute;
        left: -20px;
      }
    }
  }
}

