@use "../global" as *;

.l-top {
  min-height: 100vh;
  position: relative;
  &__contents {
    text-align: center;
    &--title {
      padding: 20px;
      img {
        width: 100%;
      }
    }
    &--date {
      margin: auto;
      border-radius: 50px;
      background-color: $palette-blue ;
      color: $palette-white;
      padding: 5px 30px;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
    }
    &--logo {
      margin-top: 40px;
    }
    &--topics {
      margin: 40px 20px 20px;
      border-radius: 20px;
      background-color: rgba(255,255,255,.9);
      padding: 20px;
    }
  }
}
.slider_logo {
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  li {
    background-color: rgba(255,255,255,.9);
    padding: 10px 20px;
    border-radius: 20px;
    height: 80px;
    vertical-align: middle;
  }
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .slick-slide {
    margin: 0 20px;
  }
}
