@charset "UTF-8";
@font-face {
  font-family: "Noto Sans JP";
  src: url("../font/NotoSansJP/Regular.otf") format("otf"), url("../font/NotoSansJP/Regular.woff") format("woff"), url("../font/NotoSansJP/Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("../font/NotoSansJP/Medium.otf") format("otf"), url("../font/NotoSansJP/Medium.woff") format("woff"), url("../font/NotoSansJP/Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("../font/NotoSansJP/Bold.otf") format("otf"), url("../font/NotoSansJP/Bold.woff") format("woff"), url("../font/NotoSansJP/Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("../font/NotoSansJP/Black.otf") format("otf"), url("../font/NotoSansJP/Black.woff") format("woff"), url("../font/NotoSansJP/Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
/* レイアウトのためのCSS */
body {
  overflow-x: hidden;
  /*  background: #fccf00;*/
  font-family: "Kosugi Maru", sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  letter-spacing: 0.2em;
  background-color: #FBD101;
}
body.appear {
  background: #f0f0f0;
}

main {
  background-color: #FFFFFF;
  max-width: 1480px;
  margin: auto;
}

a {
  color: #333;
  text-decoration: none;
  outline: none;
}

section {
  margin: 0 0 120px;
  position: relative;
}
section .paging div {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: calc(50% - 20px);
  width: 40px;
  height: 60px;
  cursor: pointer;
  background-size: 16px;
  background-repeat: no-repeat;
}
section .paging .left {
  left: 0;
  border-radius: 0 30px 30px 0;
  background-image: url(../img/arrow_left.png);
  background-position: top 50% left 8px;
}
section .paging .right {
  right: 0;
  border-radius: 30px 0 0 30px;
  background-image: url(../img/arrow_right.png);
  background-position: top 50% right 8px;
}
section h2 {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
}
section:last-child {
  margin-bottom: 0;
}

footer {
  background-color: #0183CB;
  position: absolute;
  width: 100%;
}
footer .contents {
  margin: auto;
  padding: 20px 40px;
  width: 100%;
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
}
footer .contents .logo img {
  width: 200px;
  vertical-align: top;
}
footer .contents .company {
  color: #FFFFFF;
  font-size: 14px;
  font-family: sans-serif;
}
@media (max-width: 828px) {
  footer .contents {
    display: block;
    padding: 20px;
  }
  footer .contents .company {
    margin-top: 20px;
  }
}

@keyframes backBoxAnime {
  99.9% {
    /*アニメーション終了ぎりぎりまで*/
    z-index: 2;
    /*最前面に*/
    border-width: 0px;
    /*開始はボーダーの太さは0*/
  }
  100% {
    z-index: -1;
    /*最背面に*/
    border-width: 0px;
    /*終了はボーダーの太さは0*/
  }
}
/*画面遷移の後現れるコンテンツ設定*/
/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*==================================================
機能編 5-1-16　クリックしたら円形背景が拡大（上から）
===================================*/
/*アクティブになったエリア*/
#g-nav.panelactive {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
}

/*丸の拡大*/
.circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fccf00;
  /*丸のスタート位置と形状*/
  transform: scale(0);
  /*scaleをはじめは0に*/
  top: -50px;
  left: calc(50% - 50px);
  /*50%から円の半径を引いた値*/
  transition: all 0.6s;
  /*0.6秒かけてアニメーション*/
}
.circle-bg.circleactive {
  transform: scale(50);
  /*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list {
  display: none;
  /*はじめは表示なし*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
  display: block;
  /*クラスが付与されたら出現*/
}
#g-nav ul {
  opacity: 0;
  /*はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#g-nav.panelactive ul {
  opacity: 1;
}
#g-nav.panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  /*0.2 秒遅らせて出現*/
  animation-fill-mode: forwards;
  opacity: 0;
}
#g-nav li {
  text-align: center;
  list-style: none;
}
#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*ナビゲーション*/
/*背景が出現後にナビゲーションを表示*/
/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*リストのレイアウト設定*/
/*==================================================
機能編　5-2-9 3本線がジャンプして×に
===================================*/
/*ボタン外側*/
.openbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  /*ボタンを最前面に*/
  background: #2e98e5;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  /*ジャンプしてはみ出た要素を消す*/
}
.openbtn .openbtn-area {
  transition: all 0.4s;
  /*アニメーションの設定*/
}
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top: 15px;
}
.openbtn span:nth-of-type(2) {
  top: 23px;
}
.openbtn span:nth-of-type(3) {
  top: 31px;
}
.openbtn.active .openbtn-area {
  transform: rotateX(360deg);
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-135deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(135deg);
  width: 30%;
}

/*ボタン内側*/
/*activeクラスが付与されると .openbtn-areaが360度回転し、
その中の線のtopの位置や形状が変化して×に*/
/*==================================================
　機能編 7-1-44	矢印が右に移動して現在地に戻る
===================================*/
/* ボタン共通設定 */
.btn06 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: #fccf00;
  color: #333;
  padding: 10px;
  width: 230px;
  border-radius: 25px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/
  transition: ease 0.2s;
}

.btnarrow2::after {
  content: "";
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 1.2em;
  right: 25px;
  /*矢印の形状*/
  width: 10px;
  height: 10px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
}
.btnarrow2:hover::after {
  animation: arrow 0.5s;
}

/*hoverした際のアニメーション*/
@keyframes arrow {
  50% {
    right: 20px;
  }
  100% {
    right: 25px;
  }
}
/*==================================================
　機能編 7-1-16	右下に押し込まれる（立体が平面に）
===================================*/
/* ボタン共通設定 */
.btn03 {
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 25px;
  border: solid 1px #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
}
.btn03:hover {
  border-color: transparent;
}
.btn03 span {
  position: relative;
  z-index: 2;
  /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
  display: block;
  padding: 10px 30px;
  background: #fccf00;
  border-radius: 25px;
  color: #333;
  /*アニメーションの指定*/
  transition: all 0.3s ease;
}

/*hoverをした後のボタンの形状*/
/*ボタンの中のテキスト*/
/*影の設定*/
.pushright:before {
  content: "";
  /*絶対配置で影の位置を決める*/
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 4px;
  /*影の形状*/
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #333;
}
.pushright:hover span {
  background-color: #333;
  color: #fff;
  transform: translate(4px, 4px);
}

/*hoverの際にX・Y軸に4pxずらす*/
/*==================================================
機能編 8-1-8　リンクボタンをクリックしたら形状が変化
===================================*/
/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 40px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(150px);
}
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
#page-top a {
  /*aタグの形状*/
  display: block;
  width: 80px;
  height: 80px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  /*背景画像の指定*/
  background: url("../img/rocket_base.svg") no-repeat center;
  background-size: contain;
}
#page-top.floatAnime a {
  width: 80px;
  height: 80px;
  /*背景画像の指定*/
  background: url("../img/rocket.svg") no-repeat center;
  background-size: contain;
  /*アニメーションの指定*/
  animation: floatAnime 2s linear infinite;
  opacity: 0;
}
#page-top span {
  position: absolute;
  bottom: -11px;
  right: 20px;
  color: #333;
  font-weight: bold;
  line-height: 1.3;
}
#page-top.floatAnime span {
  bottom: -30px;
}

/*　上に上がる動き　*/
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*　下に下がる動き　*/
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(150px);
  }
}
/*画像の切り替えと動き*/
@keyframes floatAnime {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  25% {
    transform: translateX(-6px);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(6px);
    opacity: 1;
  }
}
/*Page Topと書かれたテキストの位置*/
/*==================================================
機能編 6-1-1　横移動させて全画面で見せる
===================================*/
/*　背景画像設定　*/
.slider-item01 {
  background: url(../img/main_01.png);
}

.slider-item02 {
  background: url(../img/main_02.png);
}

.slider-item03 {
  background: url(../img/main_03.png);
}

.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  aspect-ratio: 920/612;
  /*各スライダー全体の縦幅を（80vh）にする*/
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev, .slick-next {
  position: absolute;
  /*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #fff;
  /*矢印の色*/
  border-right: 2px solid #fff;
  /*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -50px 0 0 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #fff;
  /*ドットボタンの色*/
}
.slick-dots .slick-active button {
  background: #fccf00;
  /*ドットボタンの現在地表示の色*/
}

/*==================================================
機能編 6-1-8　複数画像を流して見せる
===================================*/
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider2 img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}
.slider2 .slick-slide {
  margin: 0 10px;
  /*スライド左右の余白調整*/
}

/*==================================================
印象編 4 最低限おぼえておきたい動き
===================================*/
/* 4-3 くるっ（Z 軸（右へ）） */
.rotateRightZ {
  animation-name: rotateRightZAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes rotateRightZAnime {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* 4-1 ふわっ（その場で） */
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 4-2 ふわっ（下から） */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 4-2 パタッ（左上へ） */
.flipLeftTop {
  animation-name: flipLeftTopAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flipLeftTopAnime {
  from {
    transform: translate(-20px, 80px) rotate(-15deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}
/* 4-2 パタッ（右上へ） */
.flipRightTop {
  animation-name: flipRightTopAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flipRightTopAnime {
  from {
    transform: translate(-20px, 80px) rotate(25deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 1) rotate(0deg);
    opacity: 1;
  }
}
/* 4-4 ボンッ（拡大） */
.zoomIn {
  animation-name: zoomInAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes zoomInAnime {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger, .zoomInTrigger, .flipLeftTopTrigger, .flipRightTopTrigger {
  opacity: 0;
}

/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*, ::before, ::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before, ::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

summary {
  display: block;
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden], template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}
a:active, a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b, strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button, [type=button], [type=reset], [type=submit], [role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
  /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button, input, optgroup, select, textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}
button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Remove inner padding and border in Firefox 4+ */
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button, select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}
select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}
select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio, canvas, progress, video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}
::-moz-selection, ::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

/*==================================================
ギャラリーのためのcss
===================================*/
.l-gallery {
  position: relative;
}
.l-gallery__background {
  z-index: -1;
  position: absolute;
  background-color: #818181;
  border-radius: 200px 0 0 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.l-gallery__body {
  padding: 80px 0;
}
.l-gallery__contents {
  margin-top: 20px;
}
.l-gallery__contents img {
  border-radius: 10px;
}
.l-gallery__contents ul {
  position: relative;
  background-color: #333;
}
.l-gallery__contents ul .slick-track {
  padding: 40px 0;
}
.l-gallery__contents li {
  position: relative;
}
.l-gallery__contents li::before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: -30px;
  background-image: url("../img/bar_white.png");
  background-repeat: space no-repeat;
  z-index: 1;
}
.l-gallery__contents li::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -30px;
  background-image: url("../img/bar_white.png");
  background-repeat: space no-repeat;
  z-index: 1;
}

.l-splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
  color: #fff;
}
.l-splash__text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}
.l-splash__text svg {
  height: 2px;
}
.l-splash .loader_cover {
  width: 100%;
  height: 50%;
  background: #FBD101;
  transition: all 0.2s cubic-bezier(0.04, 0.435, 0.315, 0.9);
  transform: scaleY(1);
}
.l-splash .loader_cover-up {
  transform-origin: center top;
}
.l-splash .loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}
.l-splash .coveranime {
  transform: scaleY(0);
}

.l-top {
  height: 100vh;
  position: relative;
  padding: 20px;
}
.l-top h1 {
  font-size: 2.7vw;
  color: #666;
  line-height: 1.5;
  margin: 0 0 50px 0;
  letter-spacing: 0.2em;
}
.l-top h1 img, .l-top h1 canvas {
  width: 100px;
  position: relative;
  left: 1.8em;
}
.l-top h1 span {
  color: #2e98e5;
  display: block;
}
.l-top__slider {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  height: 80vh;
}
@media (max-width: 828px) {
  .l-top__slider {
    width: 94%;
    right: 2%;
  }
}
.l-top__slider .slider-item {
  border-radius: 20px;
}

.l-container {
  position: relative;
  max-width: 480px;
  box-shadow: 0px 0px 1px 2px #F0F3F5;
  margin: auto;
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.l-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 1480px;
  background-color: #FFFFFF;
}
.l-background::before {
  content: "";
  position: fixed;
  background-color: #FBD101;
  z-index: 1;
  width: calc((100vw - 1480px) / 2);
  height: 100vh;
  left: 0;
}
.l-background::after {
  content: "";
  position: fixed;
  background-color: #FBD101;
  z-index: 1;
  width: calc((100vw - 1480px) / 2);
  height: 100vh;
  right: 0;
}
.l-background .parts {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
}
.l-background .parts.parts1 {
  background-image: url(../img/parts_1H.png);
  width: 350px;
  height: 350px;
  top: -100px;
  left: calc(50% - 500px);
  transform: rotate(330deg);
}
.l-background .parts.parts2 {
  background-image: url(../img/parts_2A.png);
  width: 260px;
  height: 260px;
  top: 250px;
  left: calc(50% - 380px);
  transform: rotate(240deg);
}
.l-background .parts.parts3 {
  background-image: url(../img/parts_3R.png);
  width: 280px;
  height: 280px;
  top: -30px;
  left: calc(50% + 120px);
  transform: rotate(30deg);
}
.l-background .parts.parts4 {
  background-image: url(../img/parts_4I.png);
  width: 280px;
  height: 280px;
  top: 240px;
  left: calc(50% + 120px);
  transform: rotate(120deg);
}
.l-background .parts.parts5 {
  background-image: url(../img/parts_5M.png);
  width: 350px;
  height: 350px;
  top: 680px;
  left: calc(50% - 450px);
  transform: rotate(240deg);
}
.l-background .parts.parts6 {
  background-image: url(../img/parts_6A.png);
  width: 220px;
  height: 220px;
  top: 500px;
  left: calc(50% + 80px);
  transform: rotate(120deg);
}
.l-background .parts.parts7 {
  background-image: url(../img/parts_7T.png);
  width: 500px;
  height: 500px;
  top: 240px;
  left: calc(50% - 880px);
  transform: rotate(75deg);
}
.l-background .parts.parts8 {
  background-image: url(../img/parts_8C.png);
  width: 300px;
  height: 300px;
  top: calc(0% + 700px);
  left: calc(50% + 150px);
  transform: rotate(50deg);
}
.l-background .parts.parts9 {
  background-image: url(../img/parts_9H.png);
  width: 700px;
  height: 700px;
  top: calc(0% + 180px);
  left: calc(50% + 350px);
  transform: rotate(50deg);
}

.l-date {
  position: relative;
}
.l-date__body {
  padding: 80px 0;
  border-radius: 200px 0 0 0;
}
.l-date__body:has(.date1.active) {
  background-color: #FBD101;
}
.l-date__body:has(.date2.active) {
  background-color: #CB0024;
}
.l-date__body:has(.date3.active) {
  background-color: #FF6F3C;
}
.l-date__body:has(.date4.active) {
  background-color: #34B448;
}
.l-date__body:has(.date5.active) {
  background-color: #0183CB;
}
.l-date__body:has(.date6.active) {
  background-color: #8540CB;
}
.l-date__list {
  position: absolute;
  top: 170px;
  right: 20px;
}
.l-date__list ul {
  list-style: none;
}
.l-date__list li {
  border-radius: 50%;
  border: solid 1px #F0F3F5;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 10px;
  height: 10px;
  cursor: pointer;
  display: inline-block;
}
.l-date__list li.active {
  border: solid 2px #FFFFFF;
}
.l-date__list li.date1 {
  background-color: #FBD101;
}
.l-date__list li.date2 {
  background-color: #CB0024;
}
.l-date__list li.date3 {
  background-color: #FF6F3C;
}
.l-date__list li.date4 {
  background-color: #34B448;
}
.l-date__list li.date5 {
  background-color: #0183CB;
}
.l-date__list li.date6 {
  background-color: #8540CB;
}
.l-date__contents {
  padding: 40px 20px 20px 20px;
  display: none;
}
.l-date__contents.active {
  display: block;
}
.l-date__contents--image {
  width: 200px;
  height: 200px;
  margin: auto;
}
.l-date__contents--image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.l-date__contents--date {
  margin: auto;
  border: 2px solid #FFFFFF;
  width: 240px;
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  padding: 2px;
}
.l-date__contents--tag {
  font-size: 16px;
  padding: 30px;
  color: #FFFFFF;
  font-weight: bold;
}
.l-date__contents--tag p::before {
  content: "#";
  margin-right: 4px;
}
.l-date__contents--button {
  margin-top: 20px;
}
.l-date__contents--button .btn {
  display: block;
  width: 240px;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 2px;
  border-color: #FFFFFF;
}
.l-date__contents--button .btn:last-child {
  margin-bottom: 0px;
}
.l-date__contents--button .btn_primary {
  background-color: #FFFFFF;
}
.l-date__contents--button .btn_confirm {
  color: #FFFFFF;
}
.l-date__contents.date1 .btn_primary {
  color: #FBD101;
}
.l-date__contents.date2 .btn_primary {
  color: #CB0024;
}
.l-date__contents.date3 .btn_primary {
  color: #FF6F3C;
}
.l-date__contents.date4 .btn_primary {
  color: #34B448;
}
.l-date__contents.date5 .btn_primary {
  color: #0183CB;
}
.l-date__contents.date6 .btn_primary {
  color: #8540CB;
}

.l-schedule {
  position: relative;
  background-color: #0183CB;
  padding: 80px 0;
  border-radius: 200px 0 0 0;
}
.l-schedule__contents {
  padding: 0 20px;
  display: none;
  height: 550px;
}
.l-schedule__contents.active {
  display: block;
}
.l-schedule__contents--title {
  margin: auto;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.l-schedule__contents--list {
  background: #FFFFFF;
  padding: 20px;
  width: calc(100% - 60px);
  margin: 0 auto;
  border-radius: 8px;
}
.l-schedule__contents--list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.l-schedule__contents--list li {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #818181;
}
.l-schedule__contents--list li time {
  width: 90px;
  color: #818181;
  font-size: 12px;
  text-align: right;
  padding-right: 15px;
}
.l-schedule__contents--list li p {
  width: calc(100% - 90px);
  font-size: 14px;
}
.l-schedule__contents--list li:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #818181;
}

.l-seminar {
  position: relative;
}
.l-seminar h2 {
  color: #818181;
}
.l-seminar__background {
  z-index: -1;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 200px 0 0 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.l-seminar__body {
  padding: 80px 0;
}
.l-seminar__contents {
  padding: 0 20px;
  display: none;
}
.l-seminar__contents.active {
  display: block;
}
.l-seminar__contents--image {
  width: 200px;
  height: 200px;
  margin: auto;
}
.l-seminar__contents--image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.l-seminar__contents--date {
  margin: auto;
  border: 2px solid #CB0024;
  width: 340px;
  background-color: #CB0024;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  margin: 10px auto 20px;
  font-weight: bold;
  padding: 2px;
  color: #FFFFFF;
}
.l-seminar__contents--title {
  font-size: 14px;
  text-align: center;
  padding: 20px 10px;
}
.l-seminar__contents--title span {
  font-size: 20px;
  font-weight: bold;
}
.l-seminar__contents--text {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  border: solid 1px #F0F3F5;
}

.l-campaign {
  position: relative;
  background-color: #34B448;
  border-radius: 200px 0 0 0;
  padding: 80px 0;
}
.l-campaign__contents {
  padding: 0 20px;
}
.l-campaign__contents--title {
  margin: auto;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.l-campaign__contents--list {
  background: #FFFFFF;
  padding: 20px;
  width: calc(100% - 60px);
  margin: 0 auto;
  border-radius: 8px;
}

.l-info {
  position: relative;
}
.l-info__background {
  z-index: -1;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 200px 0 0 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.l-info__body {
  padding: 80px 0;
}
.l-info h2 {
  color: #818181;
}
.l-info__contents {
  padding: 0 20px;
}
.l-info__contents dl {
  margin-bottom: 20px;
}
.l-info__contents dl:last-child {
  margin-bottom: 0;
}
.l-info__contents dt {
  font-size: 14px;
}
.l-info__contents dd {
  font-size: 16px;
  margin-bottom: 8px;
}
.l-info__contents dd:last-child {
  margin-bottom: 0;
}
.l-info__contents dd img {
  width: 100%;
  max-width: 300px;
}
.l-info__contents dd iframe {
  width: 100%;
  height: 400px;
}
.l-info__contents dd.flex {
  display: flex;
  justify-content: space-between;
}
.l-info__contents dd.flex .logo {
  width: 32px;
}
.l-info__contents dd.flex .text {
  width: calc(100% - 40px);
  line-height: 32px;
}
.l-info__contents dd.flex .text a {
  color: #0d6efd;
}/*# sourceMappingURL=style.css.map */